@import "../../styles/variable";
@import "../../styles/mixins";

// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-speed ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Main Styles
.file-input-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  height: auto;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;

  .input-box {
    padding: 20px;
    text-align: center;
    border: 2px dashed $secondary-color;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    h4 {
      margin: 10px 0 0 0;
    }
  }

  small {
    font-size: 12px;
    color: $secondary-color;
  }

  .error-message {
    color: $error-color;
    font-size: 14px;
    margin-top: 5px;
  }

  .wrapper-file-section {
    .selected-files {
      h5 {
        margin-bottom: 10px;
      }

      .file-list {
        overflow-y: auto;
        list-style-type: none;
        padding: 0 10px 10px 0;
        margin: 0;
        transition: $transition-speed all ease-in-out;

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid $secondary-color;
          border-radius: 5px;
          padding: 10px;
          font-size: 14px;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          .remove {
            @include flex-center;
            color: $error-color;
            cursor: pointer;
            transition: $transition-speed all ease-in-out;

            &:hover {
              color: $error-hover-color;
            }
          }
        }
      }
    }
  }

  .wrapper-button {
    text-align: center;
    margin-top: 15px;

    button {
      cursor: pointer;
      padding: 0.8em 1.8em;
      border: 2px solid $primary-color;
      position: relative;
      overflow: hidden;
      background-color: $primary-color;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      transition: $transition-speed;
      z-index: 1;
      font-family: inherit;
      color: $text-color;
      font-weight: 700;

      &:before {
        content: "";
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: $secondary-color;
        transition: 0.5s ease;
        display: block;
        z-index: -1;
      }

      &:hover:before {
        width: 105%;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}
