@import "../../styles/variable";
@import "../../styles/mixins";

.table-container {
  max-height: 700px;
  overflow-y: auto;
  position: relative;

  h2 {
    text-align: center;
    margin-top: 20px;
  }

  table {
    background: $table-bg-color;
    border-radius: $table-border-radius;
    border-collapse: collapse;
    margin: 20px auto;

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: $highlight-color;
    }
  }

  th {
    border-bottom: 1px solid $border-color;
    color: $header-text-color;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
  }

  td {
    color: $text-color;
    font-weight: 400;
    padding: 0.65em 1em;
    text-align: center;
  }

  .disabled td {
    color: $disabled-text-color;
  }

  tbody tr {
    transition: background 0.25s ease;

    &:hover {
      background: $highlight-color;
    }
  }
}
