$primary-color: #1b2631;
$secondary-color: #cacaca;
$error-color: #c0392b;
$error-hover-color: #e74c3c;
$success-color: #145beb;
$transition-speed: 0.3s;
$table-bg-color: #17141d;
$border-color: #364043;
$text-color: #fff;
$highlight-color: #014055;
$disabled-text-color: #4f5f64;
$header-text-color: #e2b842;
$table-border-radius: 0.25em;
